body {
  background: #f7f7f7;
  font-family: Proxima Nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

.container {
  width: 92%;
  max-width: 720px;
  margin: 0 auto; }

header {
  height: 28px;
  background: #FC6621;
  line-height: 50px;
  overflow: hidden;
  color: #FFF; }


.upvote {
  height: 13px;
  width: 1em;
  background: url('https://news.ycombinator.com/grayarrow.gif') center center no-repeat;
  display: inline-block;
  margin: 0;
  padding: 0; }

.posts {
  list-style-image: url('https://news.ycombinator.com/grayarrow.gif');
  margin: 1em 0 3em 0;
  padding-left: 1.5em; }
.posts li {
  margin-bottom: 1em;
  font-weight: 600;
  position: relative; }
.posts li a {
  text-decoration: none;
  color: #424242; }
.posts li:hover .url {
  opacity: 1; }
.posts .url {
  font-weight: 200;
  font-size: 0.85em;
  margin-left: 0.5em;
  opacity: 0.5; }
.posts .url:before {
  content: "("; }
.posts .url:after {
  content: ")"; }
.posts small {
  display: block;
  font-weight: 200;
  font-size: 0.8em; }